:root{
    --orange: #FFA420
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:green;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0. 5rem 1rem rgba(0,0,0,1);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}


header .navbar a:hover{
    color:var(--orange);
    text-decoration: underline;
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--orange)
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../image/banner-home1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: black;
    text-shadow: 0 2px 5px #fff;
}

.home .content span{
    font-size: 3.5rem;
    color:#fff;
    padding: 1rem 0;
    line-height: 1.5;
    text-shadow: 0 2px 5px #333;
}

.home .content p{
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
}

.products .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: auto;
    align-items: center;
}

.products .container img{
    width: 350px;
    height: 350px;
    position: relative;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.products .container img:hover{
    transform: scale(1.1);
}

.products .container h4{
    font-size: 2rem;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3rem;
    color: orangered;
    text-shadow: 0 2px 5px #333;
    margin-top: 50px;
}

.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .box-container .box{
    display: flex;
    position: relative;   
}

.product .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
    margin: 20px;
}

.product .box-container .box .image img{
    width: 350px;
    height: 350px;
}

.product .box-container .box .image .icons{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
}

.product .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    width: 50%;
    background: var(--orange);
    color: #fff;
}

.product .box-container .box .image .icons .cart-btn{
    border-left: .5rem solid #fff7;
    border-right: .5rem solid #fff7;
    width: 100%;
}

.product .box-container .box .image .icons a:hover{
    background: #333;
}

.footer{
    background-color: black;
    display: flex;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.footer .box-container .box p{
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem 0;
    text-align: justify;
    padding-right: 20px;
}

.footer .box-container .box a{
    display: block;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
}

